[defaults]
inventory = inventory.yml
# Indica ao Ansible onde buscar as coleções que você acabou de baixar
collections_path = ./collections:~/.ansible/collections

# Define o formato de saída para YAML (limpo e legível)
stdout_callback = ansible.builtin.default
# Garante que o log seja gravado
log_path = ./ansible_execution.log

[privilege_escalation]
become_method = sudo
become_ask_pass = True

[callback_default]
result_format = yaml
